<div class="container">
  <h1 class="title">Murmur app</h1>
    <nav class="menu">
      <ul>
        <li><div class=p1><a href="/posts/new">つぶやく</a></div></li>
        <li><div class=p2><a href="/posts">リスト</a></div></li>
      </ul>
    </nav>
  <article>
    <div class="topic">
      <ul>
        <li>今の気持ちをつぶやいてみよう！</li>
      </ul>
    </div>
  </article>
</div>
