<h1>~ ~ ~ あなたのつぶやき ~ ~ ~</h1>
<p><%= @post.content %></p><br>
<br>
<br>
<%= link_to 'リストに戻る', posts_path %>
<%= link_to '編集する', edit_post_path(@post.id) %>
<%= link_to '削除する', post_path(@post.id), method: :delete,data: { confirm: '削除します。よろしいですか？'} %>
